<!DOCTYPE html>
<html>
    
<head>
	<title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
            height: 100%;
            background-color: teal;
		}
        
        #messages {
            padding: 10px;
            margin: 20px auto;
            width: 80%;
            text-align: center;
        }
        
	</style>

</head>
<body>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col l3 m3 s12"></div>
            <div class="col l6 m6 s12">
              <form action="" method="POST">
                  {% csrf_token %}
                   <div class="card-panel z-depth-5">
                    <h4 class="center">Register (Participant)</h4>
                    <p class="center">Join our community now !</p>
                     <div class="input-field">
                      <i class="material-icons prefix">account_circle</i>
                      {{form.username}}
                      <label for="id_username">Enter username</label>
                    </div>
                    
                     <div class="input-field">
                      <i class="material-icons prefix">email</i>
                      {{form.email}}
                      <label for="id_email">Enter email</label>
                    </div>
                    
                     <div class="input-field">
                      <i class="material-icons prefix">lock</i>
                      {{form.password1}}
                      <label for="id_password1">Enter password</label>
                    </div>
                    
                      
                     <div class="input-field">
                      <i class="material-icons prefix">vpn_key</i>
                      {{form.password2}}
                      <label for="id_password2">Confirm password</label>
                    </div>
                    {% if form.errors %}
                    {% for error in form.errors %}
                    <div class="teal darken-2 white-text" id="messages">{{ form.errors }}</div>
                    {% endfor %}
                    {% endif %}
                    <p class="right">Already have an account? <a href="{% url 'login' %}" class="btn btn-sm">login</a></p>
                    <input type="submit" name="submit" value="register" class="btn btn-large darken-2 left col s12">
                  
                    <div class="clearfix"></div>
                 </div>
              </form>
            </div>
            <div class="col l3 m3 s12"></div>
        </div>
    </div>
</body>
</html>