{% load static %}

<footer class="page-footer teal footer-section">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Event Management</h5>
          <p class="grey-text text-lighten-4">The best place for all your events</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul class="row">
            <li class="col s-2"><a class="grey-text text-lighten-3" href="#!">
                <i class="material-icons">facebook</i></a>
            </li>
            <li class="col s-2"><a class="grey-text text-lighten-3" href="#!">
                <i class="material-icons">public</i></a>
            </li>
            <li class="col s-2"><a class="grey-text text-lighten-3" href="#!">
                <i class="material-icons">people</i></a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal darken-2">
      <div class="container">
      © 2020 Copyright EMS
      </div>
    </div>
</footer>