{% extends 'ems/main.html' %}
{% load static %}
{% load auth_extras %}
{% block content %}

<div class="container users-section">
    <br>
    <h4 class="teal-text text-darken-3">Registrations <i class="material-icons">how_to_reg</i></h4>
    <hr>
    <br>
    <div class="row">
        {% if request.user|has_group:"admin" or request.user|has_group:"participant" %}
        <div class="row center">
            <a href="{% url 'create_registration' request.user.participant.id %}" class="btn btn-large teal">Make Registration</a>
        </div>
        {% endif %}
        <div class="col m8 offset-m2">
            <ul class="collection">
                {% for registration in registrations %}
                <li class="collection-item avatar z-depth-3">
                    <span class="title"><strong>Participant: {{ registration.participant.name }} - Event: {{registration.event.name}} </strong></span>
                    <p><br><span class="teal-text text-darken-2">Date: </span>{{ registration.reg_date }}<br>
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">how_to_reg</i></a>
                </li>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
</div>

{% endblock %}