{% extends 'ems/main.html' %}
{% load static %}
{% load auth_extras %}
{% block content %}

<div class="container users-section">
    <br>
    <h4 class="teal-text text-darken-3">Shippers <i class="material-icons">local_shipping</i></h4>
    <hr>
    <br>
    <div class="row">
        {% if request.user|has_group:"admin" %}
        <div class="row center">
            <a href="{% url 'create_shipper' %}" class="btn btn-large teal">Add Shipper</a>
        </div>
        {% endif %}
        <div class="col m8 offset-m2">
            <ul class="collection">
                {% for shipper in shippers %}
                <li class="collection-item avatar z-depth-3">
                    <span class="title"><strong>Name: {{ shipper.name }}</strong></span>
                    <p><br><span class="teal-text text-darken-2">Location: </span>{{ shipper.location }}<br>
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">local_shipping</i></a>
                </li>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
</div>

{% endblock %}