{% extends 'forms/forms_main.html' %}

{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-6 shadow p-3 mb-5 bg-white rounded form-section">
        <div class="card">
            <div class="card-body center">
                <h5 class="card-title">Add Organiser</h5>
                <form action="" method="POST" class=" center">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }} : 
                            {{ field }}
                            <br>
                        </div>
                    {% endfor %}
                    <input type="submit" value="Create" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}